@import "base";

#block-views-agenda-kort-block {
    background-color: $yellow;
    height: 340px;
    
    .view-footer {
        position: absolute;
        top: 350px;
        right: 20px;
    }
}

#block-views-nieuws-kort-block {
    background-color: $light-gray;
    margin: 15px 0 0 0;
    height: 325px;

    .view-footer {
        position: absolute;
        top: 690px;
        right: 20px;
    }
}

.front #block-views-nieuws-kort-block {
    background-color: $white;
}

#block-views-agenda-kort-block,
#block-views-nieuws-kort-block {
    padding: 0 20px;
    
    a {
        color: $black;
        font-weight: bold;
        &:hover {
            color: $dark-gray;
        }
    }
    
    p {
        margin: 0;
    }
    
    .views-field.views-field-field-date {
        display: inline;
        font-weight: bold;
        
        div {
            display: inline;
        }
    }
    
    .views-field.views-field-title,
    .views-field.views-field-field-kopje {
        display: inline;
        font-weight: bold;
        
        &:before {
            content: "|";
        }
    }
    
    div.views-row {
      margin: rhythm(1) 0 0 0;
    }
}

