@import "base";

// Styling van de footer en het blok met sponsors

#footer, .region-sponsors {
    background-color: $light-gray;
    color: $dark-gray;
    margin: 20px 0;
    padding: 15px;
    
    .block, p {
        margin: 0;
    }
    
    #footer-sitemap {
        margin: 0;
        
        a {
            font-size: $base-font-size;
        }
        
        li {
            width: 165px;

            .fs-root-link {
                color: $black;            
                font-weight: bold; 
                
                &:hover {
                    color: $dark-gray;
                }
            }

            .fs-no-children a {
                color: $dark-gray;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    
    .view-sponsors {
        height: 60px;
        text-align: center;
        
        .views-row {
            display: inline-block;
            margin-right: 15px;
            
            .views-field, .field-content {
                display: inline-block;
              
            }   
        }
    }
}
